extends layout
	
block content

	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				a.navbar-brand(href='#') Scoreboard
			ul.nav.navbar-nav
				li
					a(href='/') Home
				li
					a(href='/boards') Board List

	form#aform(method="POST", action="/boards/" + id + "/addmatch")
		input(type='text', name='info', value='')
		input(type='hidden',name='longitude',id="long")
		input(type='hidden',name='latitude', id="lat")
		input(type='submit', value="Add match")
	select(name="winner", form="aform")
		each user in users
			option(value=user.user_id) #{user.name}
	select(name="loser", form="aform")
		each user in users
			option(value=user.user_id) #{user.name}
	script.
							function geoFindMe() {
					      if (!navigator.geolocation){
					        return;
					      }
					      function success(position) {
					      console.log(position.coords.latitude);
					      console.log(position.coords.longitude);
									var form = document.getElementById("aform");
									document.getElementById("lat").value = position.coords.latitude;
					        document.getElementById("long").value = position.coords.longitude;
					      } 
					      function error(position) {
					      }
					      navigator.geolocation.getCurrentPosition(success, error);
								console.log("Hello");
					    }
							window.onload=geoFindMe;
