extends layout


block content
	style.
		#match-list {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
		}
		#match-list td, #match-list th {
		border: 1px solid #ddd;
		padding: 8px;
		}
		#match-list tr:nth-child(even){background-color: #f2f2f2;}
		#match-list tr:hover {background-color: #ddd;}
		#match-list th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #FFA500;
		color: white;
		}
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	.jumbotron
		h1(style='text-align:center;color:orange;text-decoration:underline') Match List
	table(id='match-list')
			tr
				th Match #
				th Winner
				th Loser
				th Time
				th Longitude
				th Latitude
				th Info
			each match in matches
				tr
					td #{match.match_id}
					td #{match.winner}
					td #{match.loser}
					td #{match.create_time}
					td #{match.longitude}
					td #{match.latitude}
					td #{match.info}
